<div class="page-header">
  <h1>In Gate Inspection</h1>
  
  <!-- ALERT FOR MESSAGING -->
  <div class="alert alert-success" style="display: none">  		
  		<b>Success!</b>
  </div>
</div>

<div class="row">

<div class="col-xs-12">	
	
		
</div>
	
</div>

<div class="row">

<div class="col-xs-12">
	<form class="form-horizontal">
	
		<div class="form-group">
	    	<label for="id" class="col-lg-2 control-label">Container ID</label>
	    	<div class="col-lg-10">
	      		<div class="input-group">
				  <span class="input-group-addon">#</span>						  
				  <input id="accountId" name="id" type="text" class="form-control" value="<%= id === null ? '' : id %>" />			  
				</div>				      		
	    	</div>
	  	</div>
	  	
	  	<!-- NAME -->
	  	<div id="formGroupname" class="form-group">
	    	<label for="name" class="col-lg-2 control-label">Tractor Number</label>
	    	<div class="col-lg-10">
	    		<div class="input-group">
				  <span class="input-group-addon">#</span>						  
				  <input id="name" name="name" type="text" class="form-control" value="<%= name %>">			  
				</div>  							  			  
	    	</div>
	  	</div>
	  	
	  	<div id="formGrouptype" class="form-group">
	    	<label for="username" class="col-lg-2 control-label">SP Code</label>
	    	<div class="col-lg-10">
	      		<div class="checkbox">
			        <label><input type="checkbox">ABC</label>
			    </div>
			    <div class="checkbox">
			        <label><input type="checkbox">CDE</label>
			    </div>
			    <div class="checkbox">
			        <label><input type="checkbox">EFG</label>
			    </div>  		
	    	</div>
	  	</div>
	  	
	  	<!-- USERNAME -->
	  	<div id="formGroupsize" class="form-group">
	    	<label for="username" class="col-lg-2 control-label">Size</label>
	    	<div class="col-lg-10">
	      		<div id="size" class="btn-group">
				  <button type="button" class="btn btn-danger">20</button>
				  <button type="button" class="btn btn-danger">40</button>
				  <button type="button" class="btn btn-danger">UC</button>
				</div>   		
	    	</div>
	  	</div>
	  	
	  	
	  	<div class="form-group">
	    	<div class="col-lg-offset-2 col-lg-10">
	    		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
				  Preview
				</button>
				<a class="btn btn-success btn-lg" href="#">
				  Submit
				</a>
	    	</div>
	  	</div>
	  	
	</form>
		
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Inspection Details</h4>
      </div>
      <div class="modal-body">
        <h5>Please double check with below information you have entered! </h5>
        <h6>Container ID: ABCD12341234</h6>
        <h6>Tractor Number: AX123</h6>
        <h6>Size: 40</h6>
        <h6>SP Code: ABC, DEF, EFG</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
      </div>
    </div>
  </div>
</div>
